<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ASTRONAUTES  MOA's [ _PSEUDO_ : SLICK : _PLAYER_ ]</title>
    <link rel="icon" type="image/png" href="styles/logo.png" />
    <link rel="stylesheet" href="styles/monokai.css" type="text/css" />
    <link rel="stylesheet" href="styles/slick.css" type="text/css" />
    <link rel="stylesheet" href="styles/slickstyle.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <link rel="stylesheet" href="styles/jquery.css" type="text/css" />
    <script src="js/jquery.min.js"></script>
</head>

<body>

<h1 class="title" style="margin-top:20px;">Astronautes Slick</h1>

<section class="blue">
            <div class="content">
                <h2>Journaux Moa</h2>
                <div class="slider single-item">
