<!DOCTYPE html>
<html lang="fr">
<head>
  <title>[🐦 NostrCard ZINE]</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="http://127.0.0.1:8080/ipfs/Qma5LvAd8HqiR2GadhRxWs6tF8XvtpFHfskh2sB9a15tyL" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmXU3GJkfhKW5mkPMTFDG9NtzAiiR7uErSxckYsiC4v5xk/style.css" />
  <meta name="Description" content="Découvrez la NostrCard, votre porte d'entrée vers un internet plus libre et intelligent. Ce Zine vous présente ses fonctionnalités, son intégration à Nostr et son utilisation pour une expérience enrichie." />
    <meta name="theme-color" content="#1a237e" />
</head>

<main class="zine">

  <header class="zine-page page-1">
    <h2> toto@yopmail.com </h2>
        <a href="http://127.0.0.1:8080_NOSTRVAULT_" target="_blank">
        <img class="full-img" src='http://127.0.0.1:8080/ipfs/Qmeu1LHnTTHNB9vex5oUwu3VVbc7uQZxMb8bYXuX56YAx2'\>
        </a>
      <pre><code class="language-css">UPlanet Explorer</code></pre><button class="print-button">🖨️Print</button>
  </header>

  <section class="zine-page page-2">
    <h2> ACTIVATION </h2>
        <br> Envoyez <b> 100 Ğ1 <br>+ Commentaire "NOSTR"</b>
      <p>
        <a href="http://127.0.0.1:8080/ipfs/QmYZWzSfPgb1y83fWTmKBEHdA9QoxsYBmqLkEJU2KQ1DYW/#/app/wot/_NOSTRG1PUB_/" target="_blank">
        <img class="full-img" title="G1 WALLET" src='http://127.0.0.1:8080/ipfs/Qma4ceUiYD2bAydL174qCSrsnQRoDC3p5WgRGKo9tEgRqH'\>
        </a>
      </p>
        <strong>Cliquez / Flashez le QR CODE !</strong>
      <hr>
  </section>

  <section class="zine-page page-3">
    <h2>PROFIL </h2>
        <table>
          <tr>
            <th>Email</th>
            <th>toto@yopmail.com</th>
        </tr>
        <tr>
            <td><strong>Npub </strong></td>
            <td>(Clé Publique)</td>
        </tr>
        <tr>
            <td colspan=2>npub1w25fyk90kknw499ku6q9j77sfx3888eyfr20kq2rj7f5gnm8qrfqd6uqu8</td>
        </tr>
         <tr>
             <td><strong>Nsec</strong></td>
            <td>(Clé Privée)</td>
         </tr>
        <tr>
            <td colspan=2>nsec13x0643lc3al5fk92auurh7ww0993syj566eh7ta8r2jpkprs44rs33cute</td>
        </tr>
      </table>
      <ul>
        <li>Installez <strong>Nostr Connect</strong> :</li>
      </ul>
        <p>
        <a class="zine-link" href="https://chromewebstore.google.com/detail/nostr-connect/ampjiinddmggbhpebhaegmjkbbeofoaj" target="_blank">Extension Chrome</a><br>
        <a class="zine-link" href="https://addons.mozilla.org/fr/firefox/addon/nostr-connect/" target="_blank">Extension Firefox</a>
        </p>
      <ul>
        <li><strong>Y coppier/coller "NSec"...</strong></li>
      </ul>
  </section>

  <section class="zine-page page-4">
      <h2><-> UPlanet <-></h2>
    <p>Votre NostrCard est enregistrée sur Astroport, un lieu sûr qui ajoute à votre NostrCard une multitude de services.</p>

    <img class="captioned-img" src='http://127.0.0.1:8080/ipfs/QmPV9NfaeYfZzYPaQGs9BZvMBY2t3n2SC8jodSH4zsWZak'\>
    Capitaine ♥BOX : _CAPTAINEMAIL_
   </section>
  <section class="zine-page page-5">
        <h2>Profitez de votre Robot</h2>
        <ul>
        <li><strong>LLM et Vectorisation :</strong> La NostrCard utilise des modèles de langage (LLM) et des techniques de vectorisation pour analyser vos flux Nostr.</li>
        <li><strong>Analyse N1 et N2 :</strong> Elle examine vos cercles N1 (abonnements/abonnés) et N2 ("amis d'amis") pour comprendre votre réseau social.</li>
        <li><strong>Génération d'Applications :</strong> Ces analyses permettent de créer de nouvelles applications et expériences personnalisées.</li>
        </ul>
        Programmez ce que vous voulez...
  </section>
    <section class="zine-page page-6">
        <h2>Bienvenue sur NOSTR</h2>

        <li>Des centaines d'<strong>Applications</strong> compatibles :</li>
        <li><a href="https://coracle.social/" target="_new">coracle.social</a></li>
        <li><a href="https://yakihonne.com/" target="_new">yakihonne.com</a></li>
        <li><a href="https://nostter.app/" target="_new">nostter.app</a></li>
        <li><a href="https://snort.social/" target="_new">snort.social</a></li>
        <li>La liste augmente ... <a href="https://nostrapp.link/" target="_new">nostrapp.link</a></li>
        <li>Utilisez <a href="https://oooz.fr/" target="_new">oooz</a>, nous y utilisons la Monnaie Libre Ğ1</li>

         </ul>
    </section>

    <section class="zine-page page-7">
        <h2> Sécurité Avancée </h2>
        Votre Clé "SSSS" vous permet de garder le contrôle.

        <img class="captioned-img" title="SSSS KEY" src='http://127.0.0.1:8080/ipfs/QmdmeZhD8ncBFptmD5VSJoszmu41edtT265Xq3HVh8PhZP'\>
    </section>

  <footer class="zine-page page-8">
    <h1>NOSTR CARD Ğ1 IPFS</h1>
    <h2> ☼☼☼☼☼ <a href="http://127.0.0.1:8080_NOSTRVAULT_" target="_blank">_UPLANET8_</a> ☼☼☼☼☼ </h2>
        <a href="http://127.0.0.1:8080_NOSTRVAULT_" target="_blank">
    <img class="full-img" src='http://127.0.0.1:8080/ipfs/QmZzJp7m2HeJx4wmMB6bAVXSk3As3bZ912wT2fDbP7qxhH'\>
    </a>
  </footer>
</main>

<script src="http://127.0.0.1:8080/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>

</body>
</html>
