<!DOCTYPE html>
<html lang="fr">
<head>
  <title>[🐦 NostrCard ] toto@yopmail.com </title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="http://127.0.0.1:8080/ipfs/Qma5LvAd8HqiR2GadhRxWs6tF8XvtpFHfskh2sB9a15tyL" />
  <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmXU3GJkfhKW5mkPMTFDG9NtzAiiR7uErSxckYsiC4v5xk/style.css" />
  <meta name="Description" content="Découvrez la NostrCard, votre porte d'entrée vers un internet plus libre et intelligent. Ce Zine vous présente ses fonctionnalités, son intégration à Nostr et son utilisation pour une expérience enrichie." />
  <meta name="theme-color" content="#1a237e" />
</head>

<main class="zine">

<header class="zine-page page-1">
    <h2> toto@yopmail.com </h2>
    <button class="print-button">🖨️Print</button> _DATE_
    <a href="http://127.0.0.1:8080_NOSTRVAULT_/toto@yopmail.com" target="ipfs">
        <img class="full-img" src='http://127.0.0.1:8080/ipfs/QmXs8aFXwC86jCDA3FbT9j99JHb5V8yYAP4nNoFfxVfBqr'\>
    </a>
</header>

<section class="zine-page page-2">
    <h2> ETAPE 1 </h2>
        <b>1) Envoyez 1 Ğ1 avec pour commentaire "NOSTR"</b>
        <br>_NOSTRG1PUB_
    <a href="http://127.0.0.1:8080/ipfs/QmYZWzSfPgb1y83fWTmKBEHdA9QoxsYBmqLkEJU2KQ1DYW/#/app/wot/_NOSTRG1PUB_/" target="cesium">
    <img class="full-img" title="G1 WALLET" src='http://127.0.0.1:8080/ipfs/Qma4ceUiYD2bAydL174qCSrsnQRoDC3p5WgRGKo9tEgRqH'\>
    </a>
    <strong>Flashez le QR CODE avec Cesium.app !</strong>
</section>

<section class="zine-page page-3">
    <h2> ETAPE 2 </h2>
    <ul>
        <li>1) Installez <strong>Nostr Connect</strong> :</li>
    </ul>
    <p>
        <a class="zine-link" href="https://chromewebstore.google.com/detail/nostr-connect/ampjiinddmggbhpebhaegmjkbbeofoaj" target="_blank">Extension Chrome</a><br>
        <a class="zine-link" href="https://addons.mozilla.org/fr/firefox/addon/nostr-connect/" target="_blank">Extension Firefox</a>
    </p>
    <br>
    <ul>
        <li><strong>2) Recopier votre clef Clé Privée : "NSec"</strong></li>
    </ul>
    <table>
          <tr>
            <th>Email</th>
            <th>toto@yopmail.com</th>
        </tr>
        <tr>
            <td><strong>Npub </strong></td>
            <td>(Clé Publique)</td>
        </tr>
        <tr>
            <td colspan=2>npub1w25fyk90kknw499ku6q9j77sfx3888eyfr20kq2rj7f5gnm8qrfqd6uqu8</td>
        </tr>
         <tr>
             <td><strong>Nsec</strong></td>
            <td>(Clé Privée)</td>
         </tr>
        <tr>
            <td colspan=2>nsec13x0643lc3al5fk92auurh7ww0993syj566eh7ta8r2jpkprs44rs33cute</td>
        </tr>
    </table>
    <br>Relai : <b>_MYRELAY_</b>
    <br>Capitaine : <b>_CAPTAINEMAIL_</b>
</section>

<section class="zine-page page-4">
    <h2><-> UPlanet ♥BOX <-></h2>
    <p>Après activation de votre NostrCard, vous recevez un MULTIPASS enregistré sur la station ♥BOX où vous êtes inscrit.</p>
        <img class="captioned-img" src='http://127.0.0.1:8080/ipfs/QmPV9NfaeYfZzYPaQGs9BZvMBY2t3n2SC8jodSH4zsWZak'\>
    <p><a href="https://opencollective.com/uplanet-zero" target="OC">Choisissez votre forfait</a>, activez votre stockage NextCloud et profitez d'une multitude de services...</p>

</section>

<section class="zine-page page-5">
    <h2> ASTROBOT </h2>
    Votre robot programmable se charge de collecter des informations à votre place.<br>
    <ul>
        <li><strong>1) Exploration N1/N2 :</strong> Il examine vos cercles N1 (abonnements/abonnés) et N2 ("amis d'amis") pour comprendre votre réseau social.</li>
        <li><strong>2) Cerveau Numérique :</strong> Il utilise l'IA pour pour analyser vos flux Nostr et enrichir votre expérience.</li>
        <li><strong>3) Application Web3 :</strong> Il alimente votre espace applicatif IPFS pour proposer une expériences personnalisées.</li>
        <li><strong>4) Exploration UPlanet :</strong> Il assure le partage et la récupataion de données selon vos relations et votre localisation.</li>
    </ul>
    De conception modulaire, vous activez (ou non) son usage par l'activation d'extensions.
</section>

<section class="zine-page page-6">
    <h2> NOSTR </h2>
    <a href="https://opencollective.com/monnaie-libre" target="oc">
        <img class="captioned-img" title="Open Collective" src='http://127.0.0.1:8080/ipfs/QmPdHdEDt5MYYapWAs7kTwQfGMvSnty95WiXe9qmuyd1ph'\>
    </a>
    <h3>
        Le <a href="https://g1sms.fr/" target="g1sms">G1FabLab</a> fabrique <strong><a href="https://coracle.copylaradio.com" target="coracle">CoracleZ (compatible Ğ1)</a></strong>
    </h3>

    <ul>
        <li> <strong>pour l'ajouter aux Applications disponibles</strong> :  <a href="http://nostr.net/" target="_new">nostr.net</a></li>
        <li>* <a href="https://coracle.social/" target="_new">coracle.social</a></li>
        <li>* <a href="https://yakihonne.com/" target="_new">yakihonne.com</a></li>
        <li>* <a href="https://snort.social" target="_new">snort.social</a></li>
        <li>...</li>
    </ul>
</section>

<section class="zine-page page-7">
    <h2> SECURITE </h2>
    <p>Conservez le contrôle de Votre Clef Privée.</p>
    _NSECTAIL_
    <img class="captioned-img" title="SSSS KEY" src='http://127.0.0.1:8080/ipfs/QmdmeZhD8ncBFptmD5VSJoszmu41edtT265Xq3HVh8PhZP'\>
</section>

<footer class="zine-page page-8">
    <h2> BONUS IPFS VAULT </h2>
    <a href="http://127.0.0.1:8080_NOSTRVAULT_/toto@yopmail.com" target="ipfs">
        <img class="full-img" src='http://127.0.0.1:8080/ipfs/Qmeu1LHnTTHNB9vex5oUwu3VVbc7uQZxMb8bYXuX56YAx2'\>
    </a>
    <h2> ☼☼☼☼☼ <a href="http://127.0.0.1:8080_NOSTRVAULT_/toto@yopmail.com" target="ipfs">_UPLANET8_</a> ☼☼☼☼☼ </h2>

</footer>

</main>

<script src="http://127.0.0.1:8080/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>

</body>
</html>
