<!DOCTYPE html>
<!-- TODO: Update the language if you're not writing in English! Hey, maybe remix this project and translate the instructions for other people? -->
<html lang="fr">
<!-- TODO: Add a title for your zine -->
<title>[UPlanet MultiPass]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- TODO: Update the icon image if you want to get fancy! -->
<link rel="icon" type="image/png" href="/ipfs/QmU8XZpK2rGGJC8ZCFrKRo5cdDWr78vCgx68mCXDcXUpiv" />
<link rel="stylesheet"
href="/ipfs/QmeegmN4shouhnzvnDYpbSEJtdRsyy39SpL9XqYVHgtN44/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet ZERO no secret key UPlanet Visa]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">
  <header class="zine-page page-1">
    <h2><a href='https://qo-op.com'>MULTIPASS</a>☼☼☼☼☼</h2>
    <!-- TODO: Your front cover content goes here, so you probably want a good title and maybe some kind of image -->
        <img class="full-img" src="/ipfs/QmYt72LekVs3g31bLCngZzCLygnxNCmsD9eL5GfxAmGC2C">
            <button class="print-button">🖨️Print</button>
            <h1>"<a target='TW' href='/ipns/_ASTRONAUTENS_'>TW5</a>"</h1>
    <pre><code class="language-css">did:ipns:_ASTRONAUTENS_</code></pre>
  </header>
  <section class="zine-page page-2">
    <!-- TODO: Page 2 content goes here. This is also the inside of the front cover, so you can be minimal or fit in as much content as possible! -->
    MULTIPASS est votre porte d'entrée vers un univers décentralisé de données et d'exploration. Avec MULTIPASS, vous détenez la clé pour accéder à un vaste réseau d'informations interconnectées, stockées en toute sécurité sur le système de fichiers interplanétaire (IPFS). Au cours de votre voyage dans cet univers sans limites, votre passeport vous sert d'identité numérique et vous permet d'accéder à des expériences, des communautés et des opportunités uniques au sein d'UPlanet.
  </section>
  <section class="zine-page page-3">
    <!-- TODO: Page 3 content here -->
    Attention, citoyen de UPlanet !
    Dans notre cosmos décentralisé, votre AstroID est votre bien le plus précieux. Ce n'est pas seulement un document ; c'est votre ticket d'entrée pour les opportunités et les aventures illimitées qui vous attendent sur UPlanet.
    En tant que gouvernement, nous vous implorons de traiter votre QR Code AstroID et le CODE qui l'accompagne avec le plus grand soin et la plus grande responsabilité. Protégez-les comme vous le feriez pour vos trésors les plus précieux, car ils sont les clés de votre identité et de l'accès aux merveilles de notre royaume décentralisé.
  </section>
  <section class="zine-page page-4">
    <!-- TODO: Page 4 - that's the halfway point, you're nearly there! -->
    Votre MULTIPASS est plus qu'un simple symbole - c'est un témoignage de votre citoyenneté dans l'univers en constante expansion d'UPlanet. Grâce à lui, vous avez le privilège de naviguer en toute sécurité sur notre frontière numérique, de vous engager avec vos concitoyens et de contribuer à l'écosystème florissant de l'innovation et de la collaboration.
    N'oubliez pas, chers voyageurs, que votre MULTIPASS est votre lien avec le cœur de la gouvernance, de la culture et du progrès d'UPlanet. Gardez-le à portée de main et embarquez pour votre voyage en toute confiance, sachant que vous avez le pouvoir de façonner le destin de notre cosmos décentralisé.
   Signé, Le gouvernement d'UPlanet 🚀🌠🌠
  </section>
  <section class="zine-page page-5">
    <!-- TODO: You guessed it, page 5 content now -->
    Obtenez votre MULTIPASS dès aujourd'hui, et rejoignez-nous pour forger un avenir meilleur pour tous les habitants d'UPlanet !
<hr><a target='TW' href='/ipns/_ASTRONAUTENS_#AstroID'>AstroID<br>
<img class="full-img"  src='/ipfs/QmdmeZhD8ncBFptmD5VSJoszmu41edtT265Xq3HVh8PhZP'\></a><br>
<br>CODE : 0448
<h3> /--> SECTOR : <a
href='_EARTHCID_/map_render.html?southWestLat=_SLAT_&southWestLon=_SLON_&deg=0.1'>_SECTOR_</a></h3>
<hr>
  </section>
  <section class="zine-page page-6">
    <!-- TODO: Page 6, this is the last "page" but you can still keep going -->
    Nous sommes ravis de vous présenter votre ZenCard, un symbole tangible d'autonomisation et de souveraineté financière dans notre cosmos décentralisé.
<hr>
<a target='TW' href='/ipns/_ASTRONAUTENS_#ZenCard'
title='_G1PUB_'>ZenCard</a> + <a target='TW'
href='/ipns/_ASTRONAUTENS_'>TW5</a> <br>
<img class="full-img" src='/ipfs/QmTL7VDgkYjpYC2qiiFCfah2pSqDMkTANMeMtjMndwXq9y'\><br><hr>
<pre><code class="language-css">_G1PUB_
<a href='/ipns/_IPFSNODEID_'>_IPFSNODEID_</a></code></pre>
  </section>
  <section class="zine-page page-7">
    <!-- TODO: Page 7, this is the inside of the back cover -->
Votre ZenCard est plus qu'un simple morceau de papier - c'est votre passerelle pour envoyer et recevoir du Zen, la monnaie universelle d'UPlanet. Avec votre ZenCard en main, vous avez le pouvoir d'effectuer des transactions, de soutenir les économies locales et de participer à l'écosystème dynamique de notre royaume décentralisé.
En tant que portefeuille papier, votre ZenCard incarne les principes de sécurité et d'accessibilité. Elle vous permet de stocker vos Zen hors ligne, protégeant ainsi vos actifs des menaces numériques tout en garantissant un accès facile à chaque fois que vous en avez besoin.
  </section>
  <footer class="zine-page page-8">
    <!-- TODO: You made it! Page 8, the back cover. Feel free to use this for attributions. Hey, let me know if you want a review. I'll give you ★★★★★ and an amazing quote -->
    Que vous envoyiez du Zen à un ami à travers le cosmos ou que vous fassiez un achat auprès d'un vendeur local, votre ZenCard vous permet d'effectuer des transactions en toute confiance et en toute simplicité. Profitez de la liberté de l'autonomie financière et rejoignez-nous dans la construction d'une économie prospère au sein d'UPlanet.
Alors, chers concitoyens, brandissez votre ZenCard et profitez des opportunités qu'elle vous offre. Ouvrons la voie à un avenir où la prospérité ne connaît pas de limites et où chaque individu a la possibilité de s'épanouir.
Bienvenue dans une nouvelle ère de liberté financière sur UPlanet, où votre ZenCard est la clé qui vous permettra d'accéder à des possibilités illimitées !
Signé, L'Autorité Financière d'UPlanet 🌌💰💰
  </footer>
</main>

<script src="/ipfs/QmeegmN4shouhnzvnDYpbSEJtdRsyy39SpL9XqYVHgtN44/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
