<!DOCTYPE html>
<!-- TODO: Update the language if you're not writing in English! Hey, maybe remix this project and translate the instructions for other people? -->
<html lang="es">
<!-- TODO: Add a title for your zine -->
<title>[_PLAYER_ UPlanet MultiPass]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- TODO: Update the icon image if you want to get fancy! -->
<link rel="icon" type="image/png" href="/ipfs/QmU8XZpK2rGGJC8ZCFrKRo5cdDWr78vCgx68mCXDcXUpiv" />
<link rel="stylesheet"
href="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet ZERO no secret key UPlanet Visa]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">
  <header class="zine-page page-1">
<h2><button class="print-button">🖨️Print</button> <a href='https://qo-op.com'>MULTIPASS</a> ☼☼☼☼☼</h2>
    <!-- TODO: Your front cover content goes here, so you probably want a good title and maybe some kind of image -->
        <img class="full-img" src="/ipfs/QmYt72LekVs3g31bLCngZzCLygnxNCmsD9eL5GfxAmGC2C">
    <pre><code class="language-css">_ASTRODID_</code></pre>
  </header>
  <section class="zine-page page-2">
    <!-- TODO: Page 2 content goes here. This is also the inside of the front cover, so you can be minimal or fit in as much content as possible! -->
MULTIPASS es tu puerta a un universo descentralizado de datos y exploración. Con MULTIPASS, tienes la llave a una vasta red de información interconectada, almacenada de forma segura en el Sistema Interplanetario de Archivos (IPFS). Mientras viajas por este universo ilimitado, tu pasaporte te servirá como identidad digital, dándote acceso a experiencias únicas, comunidades y oportunidades dentro de UPlanet.
  </section>
  <section class="zine-page page-3">
    <!-- TODO: Page 3 content here -->
    ¡Atención, ciudadanos de UPlanet!

En nuestro cosmos descentralizado, tu AstroID es tu posesión más preciada. No es sólo un documento; es tu billete a las ilimitadas oportunidades y aventuras que te esperan en UPlanet.

Como gobierno, te imploramos que trates tu Código QR AstroID y el CÓDIGO que lo acompaña con el máximo cuidado y responsabilidad. Protégelos como lo harías con tus tesoros más preciados, ya que son las claves de tu identidad y para acceder a las maravillas de nuestro reino descentralizado.
  </section>
  <section class="zine-page page-4">
    <!-- TODO: Page 4 - that's the halfway point, you're nearly there! -->
Tu MULTIPASS es más que un símbolo: es un testimonio de tu ciudadanía en el mundo en constante expansión de UPlanet. Te da el privilegio de navegar con seguridad por nuestra frontera digital, relacionarte con tus conciudadanos y contribuir al próspero ecosistema de innovación y colaboración.

Recordad, viajeros, que vuestro MULTIPASS es vuestro enlace con el corazón de la gobernanza, la cultura y el progreso de UPlanet. Tenlo a mano y emprende tu viaje con confianza, sabiendo que tienes el poder de dar forma al destino de nuestro cosmos descentralizado.
 🚀🌠🌠🌠
  </section>
  <section class="zine-page page-5">
    <!-- TODO: You guessed it, page 5 content now -->
<h1><a target='TW' href='/ipns/_ASTRONAUTENS_#AstroID'>AstroID</h1>
<img class="full-img"  src='/ipfs/QmdmeZhD8ncBFptmD5VSJoszmu41edtT265Xq3HVh8PhZP'\></a><br>
<br>CODE : 0448
<br>_SALT_ / _PEPPER_
<h3> /--> SECTOR : <a
href='_EARTHCID_/map_render.html?southWestLat=_SLAT_&southWestLon=_SLON_&deg=0.1'>_SECTOR_</a></h3>
<hr>
  </section>
  <section class="zine-page page-6">
    <!-- TODO: Page 6, this is the last "page" but you can still keep going -->
<hr>
<h1><a target='TW' href='/ipns/_ASTRONAUTENS_#ZenCard' title='_G1PUB_'>ZenCard</a> + "<a target='TW' href='/ipns/_ASTRONAUTENS_'>TW5</a>"</h1>
<img class="full-img" src='/ipfs/QmTL7VDgkYjpYC2qiiFCfah2pSqDMkTANMeMtjMndwXq9y'\><br><hr>
<pre><code class="language-css">_PLAYER_
_G1PUB_
<a href='/ipns/_IPFSNODEID_'>_IPFSNODEID_</a></code></pre>
  </section>
  <section class="zine-page page-7">
    <!-- TODO: Page 7, this is the inside of the back cover -->
Tu ZenCard es algo más que un trozo de papel: es tu puerta de entrada para enviar y recibir Zen, la moneda universal de UPlanet. Con tu ZenCard en la mano, tienes el poder de realizar transacciones, apoyar las economías locales y participar en el ecosistema dinámico de nuestro reino descentralizado.

Como monedero de papel, tu ZenCard encarna los principios de seguridad y accesibilidad. Le permite almacenar su ZEN fuera de línea, protegiendo sus activos de las amenazas digitales al tiempo que garantiza un fácil acceso siempre que lo necesite.

  </section>
  <footer class="zine-page page-8">
    <!-- TODO: You made it! Page 8, the back cover. Feel free to use this for attributions. Hey, let me know if you want a review. I'll give you ★★★★★ and an amazing quote -->
    Tanto si envía ZEN a un amigo al otro lado del cosmos como si realiza una compra a un vendedor local, su ZenCard le permite realizar transacciones con confianza y facilidad. Disfruta de la libertad de la autonomía financiera y únete a nosotros en la construcción de una economía próspera dentro de UPlanet.
Así que, conciudadanos míos, levantad vuestra ZenCard y aprovechad las oportunidades que ofrece. Allanemos el camino hacia un futuro en el que la prosperidad no tenga límites y todo el mundo tenga la oportunidad de desarrollar su potencial.
Bienvenido a una nueva era de libertad financiera en UPlanet, ¡donde tu ZenCard es la llave a posibilidades ilimitadas!
 🌌💰💰💰
  </footer>
</main>

<script src="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
