<!DOCTYPE html>
<!-- TODO: Update the language if you're not writing in English! Hey, maybe remix this project and translate the instructions for other people? -->
<html lang="en">
<!-- TODO: Add a title for your zine -->
<title>[_PLAYER_ UPlanet MultiPass]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- TODO: Update the icon image if you want to get fancy! -->
<link rel="icon" type="image/png" href="/ipfs/QmU8XZpK2rGGJC8ZCFrKRo5cdDWr78vCgx68mCXDcXUpiv" />
<link rel="stylesheet"
href="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet ZERO no secret key UPlanet Visa]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">
  <header class="zine-page page-1">
<h2><button class="print-button">🖨️Print</button> <a href='https://qo-op.com'>MULTIPASS</a> ☼☼☼☼☼</h2>
    <!-- TODO: Your front cover content goes here, so you probably want a good title and maybe some kind of image -->
        <img class="full-img" src="/ipfs/QmRQeE5XsYXAd32inVsWRFWqDCiMqkbU3txxdQwDqBRRLn">
    <pre><code class="language-css">_ASTRODID_</code></pre>
  </header>
  <section class="zine-page page-2">
    <!-- TODO: Page 2 content goes here. This is also the inside of the front cover, so you can be minimal or fit in as much content as possible! -->
    MULTIPASS is your gateway to a decentralized universe of data and exploration. With MULTIPASS, you hold the key to accessing a vast network of interconnected information stored securely on the InterPlanetary File System (IPFS). As you embark on your journey through this boundless realm, your passport serves as your digital identity, granting you access to unique experiences, communities, and opportunities within UPlanet.

  </section>
  <section class="zine-page page-3">
    <!-- TODO: Page 3 content here -->
    Attention, Citizens of UPlanet!

In our decentralized cosmos, your MULTIPASS is your most valuable possession. It is not merely a document; it is your entry ticket to the boundless opportunities and adventures that await within UPlanet.

As your government, we implore you to treat your AstroID QR Code and accompanying CODE with the utmost care and responsibility. Safeguard them as you would your most cherished treasures, for they are the keys to your identity and access to the wonders of our decentralized realm.

  </section>
  <section class="zine-page page-4">
    <!-- TODO: Page 4 - that's the halfway point, you're nearly there! -->
    Your MULTIPASS is more than just a symbol—it is a testament to your citizenship in the ever-expanding universe of UPlanet. With it, you gain the privilege to securely navigate our digital frontier, engage with fellow citizens, and contribute to the flourishing ecosystem of innovation and collaboration.

Remember, fellow travelers, your MULTIPASS is your connection to the heart of UPlanet's governance, culture, and progress. Keep it close, and embark on your journey with confidence, knowing that you hold the power to shape the destiny of our decentralized cosmos.
 🚀🌠
  </section>
  <section class="zine-page page-5">
    <!-- TODO: You guessed it, page 5 content now -->
<h1><a target='TW' href='/ipns/_ASTRONAUTENS_#AstroID'>AstroID</h1>
<img class="full-img"  src='/ipfs/QmSKfmbmZorNH9ycErMiUxH4D9cqqHhrU1m3DXapM1mzXT'\></a><br>
<br>CODE : 0448
<br>_SALT_ / _PEPPER_
<h3> /--> SECTOR : <a
href='_EARTHCID_/map_render.html?southWestLat=_SLAT_&southWestLon=_SLON_&deg=0.1'>_SECTOR_</a></h3>
<hr>
  </section>
  <section class="zine-page page-6">
    <!-- TODO: Page 6, this is the last "page" but you can still keep going -->
<hr>
<h1><a target='TW' href='/ipns/_ASTRONAUTENS_#ZenCard' title='_G1PUB_'>ZenCard</a> + "<a target='TW' href='/ipns/_ASTRONAUTENS_'>TW5</a>"</h1>
<img class="full-img" src='/ipfs/QmTL7VDgkYjpYC2qiiFCfah2pSqDMkTANMeMtjMndwXq9y'\><br><hr>
<pre><code class="language-css">_PLAYER_
_G1PUB_
<a href='/ipns/_IPFSNODEID_'>_IPFSNODEID_</a></code></pre>
  </section>
  <section class="zine-page page-7">
    <!-- TODO: Page 7, this is the inside of the back cover -->
Your ZenCard is more than just a piece of paper—it is your gateway to send and receive Zen, the universal currency of UPlanet. With your ZenCard in hand, you have the power to engage in transactions, support local economies, and participate in the vibrant ecosystem of our decentralized realm.

As a paper wallet, your ZenCard embodies the principles of security and accessibility. It allows you to store your ZEN offline, protecting your assets from digital threats while ensuring easy access whenever you need them.

  </section>
  <footer class="zine-page page-8">
    <!-- TODO: You made it! Page 8, the back cover. Feel free to use this for attributions. Hey, let me know if you want a review. I'll give you ★★★★★ and an amazing quote -->
    Whether you're sending ZEN to a friend across the cosmos or making a purchase from a local vendor, your ZenCard empowers you to transact with confidence and ease. Embrace the freedom of financial self-reliance and join us in building a thriving economy within UPlanet.

So, fellow citizens, hold your ZenCard high and embrace the opportunities it brings. Let us pave the way to a future where prosperity knows no bounds, and every individual has the opportunity to thrive.

Welcome to a new era of financial freedom on UPlanet—where your ZenCard is your key to unlocking limitless possibilities!
 🌌💰

  </footer>
</main>

<script src="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
