# Chemin de la clé privé Ḡ1 de l'émetteur, au format PubSec
DUNIKEY=/.zen/game/players/.current/secret.dunikey
# Noeud Duniter
NODE=https://g1.copylaradio.com/gva
# Adresse du pod Cesium ou Gchange à utiliser
POD=https://g1.data.le-sou.org
