<!DOCTYPE html>
<!-- TODO: Update the language if you're not writing in English! Hey, maybe remix this project and translate the instructions for other people? -->
<html lang="en">
<!-- TODO: Add a title for your zine -->
<title>[TW5 and TiddlyWiki]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- TODO: Update the icon image if you want to get fancy! -->
<link rel="icon" type="image/png" href="/ipfs/QmTSfxH1kG12JooZ3TG8eGkoYqjcbxy29ejqiVworuBFro" />
<link rel="stylesheet"
href="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet une planète Web3]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">
  <header class="zine-page page-1">


    <h1>Explorer les Profondeurs du Web3</h1>
    <p>Bienvenue dans l'avenir du Web, où la décentralisation, la sécurité et l'autonomie règnent en maître. Dans ce fascicule, nous plongerons dans le monde fascinant du Web3, en mettant particulièrement l'accent sur l'identité numérique et les clés dérivées sur la blockchain UPlanet.</p>
            <img class="full-img" src="/ipfs/QmTruWxJuhPvwSkyJmLqP4ocdejApwn5X9caLDVYWUKdFz">
    <h2>🌐 en ligne et 🌴 hors ligne<br>
    <button class="print-button">🖶📃📃📃</button> ✂️ découper 🙏 plier 📘 partager 💜</h2>

  </header>
  <section class="zine-page page-2">
    <!-- TODO: Page 2 content goes here. This is also the inside of the front cover, so you can be minimal or fit in as much content as possible! -->

    <h2>Le Web3 : Une Révolution Digitale</h2>
    <p>Le Web3 représente la prochaine étape de l'évolution d'internet. Contrairement à ses prédécesseurs, le Web3 met l'accent sur la décentralisation, offrant ainsi aux utilisateurs un contrôle total sur leurs données et leur expérience en ligne. C'est un univers où la confiance est assurée par des protocoles cryptographiques et où les interactions sont transparentes et sécurisées.</p>

  </section>
  <section class="zine-page page-3">
    <!-- TODO: Page 3 content here -->

    <h2>L'Identité Numérique : Votre Empreinte Digitale</h2>
    <hr>
    <p>Dans le monde numérique d'aujourd'hui, votre identité en ligne est aussi précieuse que votre identité dans le monde réel. L'identité numérique englobe toutes les informations qui vous concernent en ligne, des informations personnelles aux interactions sur les réseaux sociaux. Avec l'émergence du Web3, la notion d'identité numérique évolue pour inclure des éléments tels que la propriété de données et la gestion des clés cryptographiques.</p>

  </section>
  <section class="zine-page page-4">
    <!-- TODO: Page 4 - that's the halfway point, you're nearly there! -->

    <h2>Les Clés Dérivées : Le Fondement de la Sécurité</h2>
    <hr>
    <p>Sur la blockchain UPlanet, les clés dérivées jouent un rôle crucial dans la sécurisation de votre identité numérique et de vos actifs. Ces clés sont générées à partir de la clé de wotre TW, offrant ainsi une méthode sécurisée pour diffuser et partager vos données à tous, ou vos amis seulement. Les clés dérivées garantissent également l'intégrité des données et la confidentialité des communications sur la blockchain.</p>

  </section>


  <section class="zine-page page-5">
    <!-- TODO: You guessed it, page 5 content now -->

    <h1>Usage des Clés Dérivées sur UPlanet</h1>
    <p>Depuis votre TW5. Créez un Tiddler au nom de la clef dérivée que vous voulez créer, puis ajoutez le tag 'voeu'</p>
    <hr>
    <p>Le lendemain, votre "clef" s'active et fusionne les données de vos amis qui portent le même nom fusionnent... Et crée </p>

  </section>
  <section class="zine-page page-6">
    <!-- TODO: Page 6, this is the last "page" but you can still keep going -->

    <table class="zine-instructions">
      <tr>
        <td><b>Indexeur "json" :</b> Tous les tiddlers produisent un flux RSS (30 jours) "json" sur lequel vous installez votre application !</td>
        <td><img class="mini-img" src="/ipfs/QmNsMvqSmi6Mz9dHGgrvGtXRxcSx6sFELvMc9nHooJbNRR">
        </td>
      </tr>
      <tr>
        <td><b>Application "js" :</b> Uniquement programmée en "fulljs" navigateur, la partie "nodejs" est remplacée par la blockchain</td>
        <td><img class="mini-img" src="/ipfs/QmZHt74HeGhVrMMF9UYnQPd1Jha8ogPQwYfx9DBUfQfv84">
        </td>
      </tr>
      <tr>
        <td><b>Injecteur "bash" :</b> Une fois votre application élaborée, /ASTROBOT/_ produit le nouvel index de la chaine.</td>
        <td><img class="mini-img" src="/ipfs/QmV6vWp9T1Uoe6Q4uuk9a31LCxHTx5JPscjny5TWaxyZSt">
        </td>
      </tr>
    </table>

  </section>
  <section class="zine-page page-7">
    <!-- TODO: Page 7, this is the inside of the back cover -->
    <h2>Le Principe</h2>

    <table class="zine-instructions">
      <tr>
        <td><b>Faites un "voeu" :</b> Ajoutez un tiddler donnez lui le titre "NomDuVoeu" (votre clef dérivée). </td>
        <td><img class="mini-img" src="/ipfs/QmdKPgjUiCXcHzskNRv7J4qMSTQrBHhR9NjKbgUxAyhXcP">
        </td>
      </tr>
      <tr>
        <td><b>Utilisez son "tag" :</b> Utilisez le tag "NomDuVoeu" pour marquer les tiddlers à transmettre au programme ASTROBOT correspondant</td>
        <td><img class="mini-img" src="/ipfs/Qma9GmBKNtgsK2D46T3AkS8aa6tGsGrao1oVbsh3FvC1sU">
        </td>
      </tr>
     </table>

  </section>
  <footer class="zine-page page-8">
    <!-- TODO: You made it! Page 8, the back cover. Feel free to use this for attributions. Hey, let me know if you want a review. I'll give you ★★★★★ and an amazing quote -->

    <h2>Exemple</h2>
    <table class="zine-instructions">
      <tr>
        <td><b>Copier Youtube :</b> Permet de déclencher yt-dlp sur les liens compatibles trouvé dans les tiddlers portant le tag ("CopierYoutube"). </td>
        <td><img class="mini-img" src="/ipfs/QmNVdPHF4HP5AiDJemxD3TY6ZyJ7QxaGsQATUHktQp2j46">
        </td>
      </tr>
      <tr>
        <td><b>/ASTROBOT/Z/G1CopierYoutube.sh :</b> Est le programme ASTROBOT qui se charge de réaliser le voeu de Copier Youtube. </td>
        <td><img class="mini-img" src="/ipfs/QmXeb9ZdGh7xAeRdQFambbQ15v48UYFJgu6CkuEaE8EfPL">
        </td>
      </tr>
     </table>
    <h3>Vous souhaitez apprendre à programmer Web3 ? Contactez support@qo-op.com</h2>
  </footer>
</main>

<script src="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
