body {

    margin: 0;
    padding: 0;
}

header {

    overflow: hidden;
    padding: 1rem 0.666rem 1.333rem;
    margin-bottom: 2rem;

}

header > * {

    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

header > .sitetitle {

    margin-bottom: 0.25rem;
}

header > .sitetitle span {

    border-bottom-style: solid;
    border-bottom-color: var(--pink);
}

header .usp {

    font-size: 0.95rem;
}

main {

    width: 95%;
    margin: auto;
}

body.home main {

    display: grid;
    grid-gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-columns: 998px auto;
    grid-template-areas: "c m";
}

body.home main > #menu {

    grid-area: m;
}

body.home main > ul#videosList {

    grid-area: c;
}


aside#menu > div {

    position: sticky;
    top: 2rem;
}

#pinFilter ul {

    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 3rem;
    display: flex;
}

#pinFilter ul li a span {

    display: none;
}

#pinFilter ul li a {

    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 1px solid red;
    background-repeat: no-repeat;
}

#pinFilter ul li#filter_pinned a {

    background-image: url("font-awesome/hdd.svg");
    background-position: center center;
    background-size: 2.5rem;
}

#pinFilter ul li#filter_notpinned a {

    background-image: url("font-awesome/cloud.svg");
    background-position: center center;
    background-size: 2.5rem;
}

#pinFilter ul li#filter_both a {

    background-image: url("font-awesome/hdd.svg"),
                      url("font-awesome/cloud.svg");
    background-position: bottom 0.25rem left 0.25rem,
                         top 0.25rem right 0.25rem;
    background-size: 1.75rem,
                     1.75rem;

}

#tagsList li,
#narrowingTags li {

    padding: 0.125rem 0.5rem;
    margin: 0.25rem 0.25rem;
}

#videosList {

    display: grid;
    grid-gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-columns: 322px 322px 322px;

    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: start
}

#videosList > li {

    border-radius: 0.25rem;
    border-width: 1px;
    overflow: hidden;
}

#videosList .thumbnail {

    text-align: center;
    height: 180px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videosList .thumbnail img {

    max-height: 180px;
    width: auto;
}

#videosList .video-title {

    padding: 0.5rem 1rem;
}

#videosList > li ul.tags {

    padding: 0;
    margin: 0;
    list-style: none;
}

#videosList > li ul.tags li {

    display: inline-block;
}

#videosList > li ul.tags li:after {

    content: ", ";
}

#videosList > li ul.tags li:last-of-type:after {

    content: "";
}

article {

    border-radius: 0.25rem;
    width: 58.3%;
    margin: auto;
    overflow: hidden;

}

article video {

    width: 100%;
    max-height: calc(100vh - 14rem);
}

article .video-title {

    padding: 1rem 1rem;
    font-size: 1.25rem;
    margin: 0;
}

form.add-video {

    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
}


form.add-video input {

    height: 2rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    border-width: 0.125rem;
    border-radius: 0.5rem;

}

form label {

    display: none;

}

form label input {

    width: 50%;
}

form.add-video .confirmation {

    margin: 0.5rem 0;
    font-size: 0.85rem;
    text-align: center;
}

footer {

    display: none;
}
