<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <style>
        body {
            font-family: 'Courier New', monospace;
        }
        pre {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <h1>{PLAYER}</h1>
    MULTIPASS DOIT ÊTRE INITIALISÉ PAR LE PORTEFEUILLE UPLANET{UPLANETG1PUB}... <br>
    <br>(+‿‿+)... {TXIAMOUNT} G1 ONT ÉTÉ REMBOURSÉS À {TXIPUBKEY} ... !!<br>
    Pour remplir votre MULTIPASS, veuillez vous inscrire sur <a href='{myIPFS}/ipns/copylaradio.com'>COPYLARADIO</a>
</body>
</html> 