<!DOCTYPE html>

<html lang="fr">
<title>[_PLAYER_ UPlanet MultiPass]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/ipfs/QmU8XZpK2rGGJC8ZCFrKRo5cdDWr78vCgx68mCXDcXUpiv" />
<link rel="stylesheet"
href="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet ZERO no secret key UPlanet Visa]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">

  <header class="zine-page page-1">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page1.gif">
  </header>
  <section class="zine-page page-2">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page3.png">
  </section>

  <section class="zine-page page-3">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page4.png">
  </section>

  <section class="zine-page page-4">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page3.png">
  </section>

  <section class="zine-page page-5">
<hr><a target='TW' href='/ipns/_ASTRONAUTENS_#AstroID'>AstroID<br>
<img class="captioned-img"  src='/ipfs/QmdmeZhD8ncBFptmD5VSJoszmu41edtT265Xq3HVh8PhZP'\></a><br>
<hr><hr><hr>
<pre><code class="language-css" style="letter-spacing: -0.050em;">CODE : 0448
_SALT_
_PEPPER_
</code></pre>
<hr><hr><hr>
  </section>

  <section class="zine-page page-6">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page4.png">
  </section>

  <section class="zine-page page-7">

    <hr>
    <h1><a target='TW' href='/ipns/_ASTRONAUTENS_#ZenCard' title='_G1PUB_'>ZenCard</a> & "<a target='TW' href='/ipns/_ASTRONAUTENS_'>TW5</a>"</h1>
    <img class="full-img" src='/ipfs/QmTL7VDgkYjpYC2qiiFCfah2pSqDMkTANMeMtjMndwXq9y'\><br>
    <hr>
    <pre> <code class="language-css"> _PLAYER_
    _G1PUB_
    </code></pre>
    <hr>
    <pre><code class="language-css">_ASTRODID_</code></pre>
    <hr>
    <button class="print-button">🖨️ PRINT</button> _SECTOR_

  </section>
  <footer class="zine-page page-8">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/PinkUPlanet.png">
    <hr>
    <h2> ☼☼☼☼☼ _UPLANET8_ ☼☼☼☼☼ </h2>

  </footer>
</main>

<script src="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
