<!DOCTYPE html>
<html lang="fr">
<head>
  <title>[_PLAYER_ UPlanet ZEN Card]</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/ipfs/QmU8XZpK2rGGJC8ZCFrKRo5cdDWr78vCgx68mCXDcXUpiv" />
  <link rel="stylesheet" href="/ipfs/QmZaRPV5LqVayJEDzeJ1JVTJVfVZSWvFtAEqex8V1o4EBg/style.css" />
  <meta name="Description" content="UPlanet ZEN Card - Votre identite numerique souveraine" />
  <meta name="theme-color" content="#741b47" />
</head>

<main class="zine">

  <header class="zine-page page-1"><button class="print-button">🖨️ PRINT</button>
      <img class="full-img" src="/ipfs/QmeZZpoy8w56eD4qBTWFu3ZzWwvwPsujpQuFuyL8ajySXu" alt="UPlanet ZEN Card">
    <hr>
    <h2> ☼☼☼☼☼ _UPLANET8_ ☼☼☼☼☼ </h2>
    <hr>
    _PLAYER_
  </header>
  <section class="zine-page page-2">
    <h2>7 jours pour choisir</h2>
    <p>Votre compte demarre a <strong>0 Zen</strong>. Dans 7 jours, la redevance hebdomadaire sera prelevee :</p>
    <ul>
      <li class="zine-li"><strong>MULTIPASS</strong> : 1 Zen/semaine</li>
      <li class="zine-li"><strong>ZEN Card</strong> : +4 Zen/semaine</li>
    </ul>
    <p><strong>Si votre solde est insuffisant, votre compte sera desactive</strong> (sauf Capitaine).</p>
    <p style="font-size:85%">Deux solutions : publiez sur Nostr (chaque like = 1 Zen) ou devenez Parrain (50 euros/an, plus de redevance).</p>
  </section>

  <section class="zine-page page-3">
    <h2>Comment gagner des Zen</h2>
    <ul>
      <li class="zine-li"><strong>Publiez sur Nostr</strong> (Coracle, Amethyst...). Chaque like recu = 1 Zen.</li>
      <li class="zine-li"><strong>Parrainage Satellite</strong> : 50 euros/an. Plus de redevance. NextCloud 128 Go. Droit de vote.</li>
      <li class="zine-li"><strong>Parrainage Constellation</strong> : 540 euros/3 ans. Acces IA video. Priorite services.</li>
    </ul>
    <p style="font-size:85%">opencollective.com/monnaie-libre</p>
  </section>

  <section class="zine-page page-4">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page3.png" alt="Passeport UPlanet">
  </section>

  <section class="zine-page page-5">
<h2><a target='TW' href='/ipns/_ASTRONAUTENS_'>ZEN Card</a></h2>
<img class="captioned-img" src='/ipfs/QmdmeZhD8ncBFptmD5VSJoszmu41edtT265Xq3HVh8PhZP' alt="AstroID QR Code"><br>
<hr><hr><hr>
<pre><code class="language-text" style="letter-spacing: -0.050em;">CODE : 0448
</code></pre>
<p style="font-size:80%">Imprimez cette page puis supprimez cet email.<br>
Votre code PIN protege votre identite.</p>
<hr><hr><hr>
  </section>

  <section class="zine-page page-6">
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page4.png" alt="Passeport UPlanet">
  </section>

  <section class="zine-page page-7">

    <hr>
    <h2><a target='TW' href='/ipns/_ASTRONAUTENS_#ZenCard' title='_G1PUB_'>ZenCard</a> & "<a target='TW' href='/ipns/_ASTRONAUTENS_'>TW5</a>"</h2>
    <img class="full-img" src='/ipfs/QmTL7VDgkYjpYC2qiiFCfah2pSqDMkTANMeMtjMndwXq9y' alt="ZenCard QR"><br>
    <hr>
    _SECTOR_
    <hr>
<pre> <code class="language-text">
_PLAYER_
_G1PUB_
</code></pre>
    <hr>
    <pre><code class="language-text">_ASTRODID_</code></pre>
    <hr>


  </section>
  <footer class="zine-page page-8">
    <a target='MULTIPASS' href='_MULTIPASSZINELINK_' title='MULTIPASS'>
    <img class="full-img" src="/ipfs/QmS7nQG4yEVP8rBWcNSwkwFiWHcyKuP3FVedw9fYvirt21/page1.gif" alt="MULTIPASS QR">
    </a>
  </footer>
</main>

<script src="/ipfs/QmdVAm49eURSGa4ipHFXkCrN8BVX5qWGAjNov7gPVFpuu4/script.js" async defer></script>
</body>
</html>
