[Unit]
Description=IPFS daemon
After=network.target

[Service]
User=_USER
ExecStart=/usr/local/bin/ipfs daemon --enable-pubsub-experiment --enable-namesys-pubsub --routing=dhtclient --enable-gc
Restart=on-failure
RestartSec=10s
CPUAccounting=true
CPUQuota=60%

[Install]
WantedBy=multi-user.target
