<!DOCTYPE html>
<!-- TODO: Update the language if you're not writing in English! Hey, maybe remix this project and translate the instructions for other people? -->
<html lang="en">
<!-- TODO: Add a title for your zine -->
<title>[TW5 and TiddlyWiki]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- TODO: Update the icon image if you want to get fancy! -->
<link rel="icon" type="image/png" href="/ipfs/QmTSfxH1kG12JooZ3TG8eGkoYqjcbxy29ejqiVworuBFro" />
<link rel="stylesheet"
href="/ipfs/QmbyEpu6L1Rkoq36ncD7KAHF4FofDeTgsXgPD33Vei7Qih/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet ZERO no secret key UPlanet Visa]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">
  <header class="zine-page page-1">
    <h1>TiddlyWiki</h1>
    <p>Bienvenue, voyageur, dans le monde innovant de TW5, un magasin de données personnelles basé sur les postit de TiddlyWiki, conçu pour vous donner les moyens d'agir lors de votre voyage à travers UPlanet.</p>
        <!-- TODO: Your front cover content goes here, so you probably want a good title and maybe some kind of image -->
            <img class="full-img" src="/ipfs/QmSM1XmD7gcH2sjGBicya9nzTh5TdA8s7AksbYbQZ4t5JY">
    <h2>🌐 en ligne et 🌴 hors ligne<br>
    <button class="print-button">🖶📃📃📃</button> ✂️ couper 🙏 plier 📘 partager 💜</h2>
  </header>
  <section class="zine-page page-2">
    <!-- TODO: Page 2 content goes here. This is also the inside of the front cover, so you can be minimal or fit in as much content as possible! -->
    <p>Votre tableau de bord TW5 personnalisé vous attend, prêt à vous servir de hub numérique pour stocker et gérer vos données librement et en toute sécurité.</p> <p class="spip">La page d'accueil de TW5 est disponible en anglais.
    <hr>
    </p> <p>Organisez vos données avec Tiddlers : Dans TW5, les informations sont stockées dans des unités de taille réduite appelées Tiddlers. Chaque Tiddler représente une donnée spécifique, qu'il s'agisse d'une note, d'un document ou d'un identifiant ipfs.
    <hr>
    <h2>Utilisez les Tiddlers pour partager vos pensées, vos idées et vos informations d'une manière qui vous convient.</h2>
  </section>
  </section>
  <section class="zine-page page-3">
    <!-- TODO: Page 3 content here -->
    <p>Personnalisez votre espace de travail : Adaptez votre expérience TW5 à vos besoins spécifiques. Personnalisez votre espace de travail à l'aide de thèmes, de plugins et d'extensions pour améliorer les fonctionnalités et rationaliser votre flux de travail. Que vous soyez minimaliste ou utilisateur chevronné, TW5 s'adapte à vos préférences.</p>
    <hr>
    <p>Adopter l'amélioration continue : TW5 évolue constamment pour répondre aux besoins de ses utilisateurs. Participez au processus de développement en donnant votre avis, en suggérant des améliorations et en contribuant à la communauté open-source. Ensemble, nous pouvons façonner l'avenir de TW5 et le rendre encore plus puissant et intuitif.</p>
  </section>
  <section class="zine-page page-4">
    <!-- TODO: Page 4 - that's the halfway point, you're nearly there! -->
    <p>Collaborer et partager : TW5 n'est pas seulement un entrepôt de données personnelles, c'est aussi une plateforme collaborative où les idées naissent et sont partagées. Collaborez avec d'autres voyageurs en partageant des Tiddlers, en collaborant à des projets et en contribuant à des bases de connaissances communes. Avec TW5, les possibilités de collaboration sont infinies.</p>
  </section>


  <section class="zine-page page-5">
    <!-- TODO: You guessed it, page 5 content now -->
    <p>Avec TW5 comme magasin de données personnel, les possibilités sont illimitées. Organisez vos idées, collaborez avec d'autres et exploitez tout le potentiel de vos données sur UPlanet. Bienvenue dans une nouvelle ère d'autonomie numérique - bienvenue dans TW5.</p>
    <hr>
    <p>Bonne exploration !</p>

  </section>
  <section class="zine-page page-6">
    <!-- TODO: Page 6, this is the last "page" but you can still keep going -->
    <table class="zine-instructions">
      <tr>
        <td><b>Étape 1:</b> Imprimez, coupez, pliez MULTIPASSES.  Pliez toutes les lignes, puis pliez en deux. Coupez en travers du pli à la moitié de la page. Dépliez et il devrait y avoir un petit trou. Pliez dans le sens de la longueur. Pliez délicatement le centre jusqu'à ce que vous formiez un +. Maintenant, c'est magique ! Pliez toutes les pages. La page 1 est la couverture, la page 8 est le dos.</td>
        <td><img class="mini-img" src="/ipfs/QmRQeE5XsYXAd32inVsWRFWqDCiMqkbU3txxdQwDqBRRLn">
        </td>
      </tr>
      <tr>
        <td><b>Étape 2:</b> Ouvrez TW5. Supprimez AstroID.</td>
        <td><img class="mini-img" src="/ipfs/QmcqciKy23cETr7G8mkLPjnLWuRQbBtsj6RcKd9WiU849x">
        </td>
      </tr>
      <tr>
        <td><b>Étape 3:</b> Ajoutez vos notes. Prenez le contrôle.  </td>
        <td><img class="mini-img" src="/ipfs/QmRTMzb3WYNgaNtqFoeQZMX7MFqpa6teDaNnqWA96gTEAi">
        </td>
      </tr>
    </table>

  </section>
  <section class="zine-page page-7">
    <!-- TODO: Page 7, this is the inside of the back cover -->
    <table class="zine-instructions">
      <tr>
        <td><b>Étape 4:</b> Personnalisez votre Tiddler e-mail : Chaque voyageur dispose d'un Tiddler dans son TW5 intitulé avec son adresse électronique. Il s'agit d'une signature unique, d'une carte de visite numérique qui permet de l'identifier dans le cosmos.</td>
        <td><img class="mini-img" src="/ipfs/QmaDPopWqTZMPQYwv3Tt7kJAttWjg9JS2btE3EGmP91Hnj">
        </td>
      </tr>
      <tr>
        <td><b>Étape 5:</b>Copier et se connecter : Pour entrer en contact avec d'autres personnes, copiez leur titre d'e-mail Tiddler dans votre propre TW5, signalant ainsi votre intérêt pour le partage d'informations et l'établissement de connexions.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-07.png">
        </td>
      </tr>
     </table>
  </section>
  <footer class="zine-page page-8">
    <!-- TODO: You made it! Page 8, the back cover. Feel free to use this for attributions. Hey, let me know if you want a review. I'll give you ★★★★★ and an amazing quote -->
<table class="zine-instructions">
      <tr>
        <td><b>Étape 6:</b>Explorez les Tiddlers partagés : Accédez à des Tiddlers partagés par des voyageurs connectés, et explorez une mine de connaissances, de notes et de collaborations.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-06.png">
        </td>
      </tr>
      <tr>
        <td><b>Étape 7:</b>Collaborer et se développer : Utilisez les Tiddlers partagés pour collaborer sur des projets, échanger des idées et favoriser les connexions avec d'autres voyageurs, enrichissant ainsi le savoir collectif de la communauté UPlanet.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-07.png">
        </td>
      </tr>
     </table>
  </footer>
</main>

<script src="/ipfs/QmbyEpu6L1Rkoq36ncD7KAHF4FofDeTgsXgPD33Vei7Qih/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
