<html>
<head>
    <title>Astoport.ONE Station - Web Capsule -</title>
</head>
<body>
<script language="Javascript">
<!--
  var loc=document.location.toString();
  if (loc) {
    var pos=loc.indexOf('link=');
    if (pos>0) {
      document.write('Clic to the link <b>below</b> to go to the online location!<br><a href="'+loc.substring(pos+5)+'">'+loc.substring(pos+5)+'</a><br>');
    } else
      document.write('(no location defined)');
  }
// -->
</script>
<h1><strong><u>External Link !...</u></strong></h1>
</body>
</html>
