<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>[Astroport/TW] Système de Fichier Interplanétaire - Terraformation Forêt Jardin</title>
    <link rel="icon" type="image/png" href="styles/logo.png" />
   <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/video-js.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/forest.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/tagcloud.css" type="text/css" />

    <script src="http://127.0.0.1:8080/ipfs/QmPkj83eU27GdmSnzAnstzLrtHeT1UPaCPbrn9p1gszXJx/jquery.min.js"></script>
    <script src="http://127.0.0.1:8080/ipfs/QmPkj83eU27GdmSnzAnstzLrtHeT1UPaCPbrn9p1gszXJx/video.min.js"></script>
    <script src="http://127.0.0.1:8080/ipfs/QmPkj83eU27GdmSnzAnstzLrtHeT1UPaCPbrn9p1gszXJx/pagination.min.js"></script>
    <script src="http://127.0.0.1:8080/ipfs/QmPkj83eU27GdmSnzAnstzLrtHeT1UPaCPbrn9p1gszXJx/tagcloud.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/pagination.css" />

</head>
<body>
<header>
    <h6>
        <a href="http://127.0.0.1/" target="bunker"> "<span>Astroport / TW</span>"</a> /ipfs/
    </h6>
</header>

<main>

<article>
    <div class="row justify-center">
            <h1 class="video-title">
                <a href="https://git.p2p.legal/qo-op/Astroport.ONE" target="code">'Astroport' effectue une digitalisation 100% blockchain de tout votre Internet</a>.<br>
                <a target="code" href="http://opencollective.com/monnaie-libre/projects/bunker-box">Copiez, conservez, partagez, diffusez vos chaines vidéos et multimédia dans IPFS, entre amis!<br>
                Prenez possession des clefs. Rendez in-censurable, in-arrêtable la liberté d'expression.</a>
        </h1>
    </div>
</article>

<center>
        <h2>ExtraTerrestre activez votre Capsule Numérique Libre</h2>
<form action = "http://127.0.0.1:1234" method = "GET">
        Phrase Une : <input name=salt value=''></br>
        Phrase Deux : <input name=pepper value=''></br>

       ( GChange <input type="checkbox" id="g1pub" name="g1pub" checked> )

        <input type='submit' value='CONNEXION ASTRONAUTE'>
    </form>
</center>

    <div id="videosList"><div class="wrapper"></div></div>
<center>
<div id="channels" class="row justify-center"></div>
</center>


<article>
    <div class="row justify-center">
            <p><b>Activez votre TW. Faites vos "voeux", partagez les même avec vos amis !</b>
             <br>
             <ul>
                <li><h3>Accélérez votre accès au réseau? Installez IPFS !</h3></li>
                 <li>Débutant, sous Windows ou Mac ? Installez IPFS Desktop à votre OS: <a href="https://docs.ipfs.tech/install/ipfs-desktop/" target="code">IPFS Desktop</a></li>
                 <li>Plus aguerri ou sous Linux? Ajoutez 'go-ipfs' à votre système: <a href="https://docs.ipfs.tech/install/command-line/#official-distributions" target="code">go-ipfs</a></li>
                 <li>Rendez votre navigateur compatible avec le compagnon IPFS <a href="https://docs.ipfs.tech/install/ipfs-companion/" target="code"><b>ipfs-companion</b></a> !!</li>
                 </ul>
            Reprenons possession du réseau des réseaux ensemble !<br><br>
            <b>Contact: support@qo-op.com</b><br>
    </p>
    </div>
</article>


    <div id="calendarList"><div class="wrapper thumbnail"></div></div>

<center>
    <h6>
        <a href="http://madeinzion.org"> La Bureautique _\/_ </a> powered by <a href="http://astroport.com"><span>"</span>Astroport<span>"</span></a>
    </h6>
</center>
</main>
</body>

<script>
var player = videojs('vbunk', {
});
</script>

<script>
$.getJSON('./history.json', function (json) {
    $('#videosList').pagination({
        dataSource: json.Videos,
        pageSize: 1,
        callback: function(data, pagination) {
            var wrapper = $('#videosList .wrapper').empty();
            $.each(data, function (i, f) {
                $('#videosList .wrapper').append('<ul><li>' + f.link + '</li></ul>');
            });
        }
    });
});

$.getJSON('./calendar.json', function (json) {
    $('#calendarList').pagination({
        dataSource: json.History,
        pageSize: 1,
        callback: function(data, pagination) {
            var wrapper = $('#calendarList .wrapper').empty();
            $.each(data, function (i, f) {
                $('#calendarList .wrapper').append('<ul><li>' + f.link + '</li></ul>');
            });
        }
    });
});

var arrTimes = [];
var i = 0; // start
var timesToTest = 5;
var tThreshold = 150; //ms
var testImage = "http://libra.copylaradio.com:8080/ipfs/QmUUyiuCM4yXgaeGyqC2SVUUXZksuxhDfHQYpUpZPuL2oS/astroport.jpg"; // small image in your server
var dummyImage = new Image();
var isConnectedFast = false;

testLatency(function(avg){
  isConnectedFast = (avg <= tThreshold);
  /** output */
  document.body.appendChild(
    document.createTextNode("Time: " + (avg.toFixed(2)) + "ms - Bunker BOX ready ? " + isConnectedFast)
  );
});

/** test and average time took to download image from server, called recursively timesToTest times */
function testLatency(cb) {
  var tStart = new Date().getTime();
  if (i<timesToTest-1) {
    dummyImage.src = testImage + '?t=' + tStart;
    dummyImage.onload = function() {
      var tEnd = new Date().getTime();
      var tTimeTook = tEnd-tStart;
      arrTimes[i] = tTimeTook;
      testLatency(cb);
      i++;
    };
  } else {
    /** calculate average of array items then callback */
    var sum = arrTimes.reduce(function(a, b) { return a + b; });
    var avg = sum / arrTimes.length;
    cb(avg);
  }
}

$(document).ready(function() {
  let options = {
    container: {
      width: 630,
      backgroundColor: '#000000',
      //fontFamily: '"Times New Roman", Times, serif',
    },
    tag: {
      format:      '<a href="{tag.link}">{tag.name}</a>: {tag.weight}',
      maxFontSize: 41,  // max font size in pixels
      minFontSize: 8,   // min font size in pixels
      textShadow:  true // enable text shadow
    },
    _TAGCLOUD_
  }
  $('#channels').tagCloud(options);
});
</script>

<!-- Matomo Tag Manager -->
<script>
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.async=true; g.src='https://piwik.p2p.legal/js/container_XDhfGZPj.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->

</html>
