<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>[Astroport] : G1Visa Application : _HOSTNAME_ :: _IPFSNODEID_ </title>
    <meta http-equiv="refresh" content="999; url='http://127.0.0.1:12345'" />
    <link rel="icon" type="image/png" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/logo.png" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />
    <style>
body {
    background-image:url("http://127.0.0.1:8080/ipfs/QmSFgatcq3q898J56epa8SyGbH651vRBFnv93kQSwfoi83/background.000.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}
header {
    opacity: 0.8;
}
    input[type=submit] {
    width: 12em;  height: 4em;
    }
    input[type=checkbox] {
    width: 2em;  height: 2em;
    }
    input {
    width: 26em;  height: 2em;
    }
#yellow {
      background: yellow;
      position: absolute;
      top: 2%;
      left: 56%;
      width: 180;
      visibility: hidden;
    }
#login {
    right: 10%;
    top: 5%
 }
    </style>
    <!-- Typed text animation -->
    <script src="http://127.0.0.1:8080/ipfs/QmYyJmAT3cUbjk4vVWQG7LdpY3HkFH9phFD1VzzetHrgpa"></script>
    <!-- Astro API JS LIB -->
    <script src="http://127.0.0.1:8080/ipfs/Qmae5v9zydax9u6C9ceDijURu5PYdd5avmv4NkenCw7RFv/astro.js"></script>

</head>
<body>
<header>

<!--
            <div  id="login"><button onclick="promptUser('login')">LOGIN</button><button onclick="promptUser('logout')">LOGOUT</button></div>
-->
         <div>
        <button onclick="homeAstroportStation('/?qrcode=station', 'tab', 21654)">Ğ1Station</button>
        </div>
        <span><div id="ainfo"></div></span>
        <div id="debug"></div>

</header>

<main>

<center>
<b>Welkom - Mirë se vini -  Willkommen - Welkomma - Welcome - Marhaban - Bari galoust - Xos gelmissiniz - Welkum -  Ongi etorri- Swagata - Ansuf yiswen - ščyra zaprašajem - Kyo tzo pa eit - ॐ★ॐ - Ani kié - Dobro došli - Dagemer mat - Dobre doshŭl - Benvinguts - Ulihebisdi - ௐ- Huān yíng - Karibu - Eoso eoseyo - Benvenuti - Bel bonjou - Bienvini - Dobrodošli - Velkommen - Bienvenido -  Bonvenon - Tere tulemast - Gabitê - Vælkomin -  Tervetuloa - Welkom - Wìllkòmme - Binvignut - Fàilte - Benvido - Croeso - Planvenguda - Mikouabô - Kalos irthate - Eguahé porá - Baroukh habaim - ﷽ </b><br>
<header>

<form id="formlink" action = "http://127.0.0.1:1234" method = "GET" enctype="application/x-www-form-urlencoded">

    <h1>U<span>Planet</span>
    <br><span>(<a href="https://qo-op.com">qo-op</a>)<a id="myLink" href="https://qo-op.com">*</a></span></h1>

        <span>Email : </span><input name=uplanet value=''></br>

    <div id="yellow">
        <input name='salt' value='0.00'>
        <h3><a target="info" title="CHECK BY YOURSELF" href="http://127.0.0.1:12345"> >>> (◕‿‿◕) <<< </a>
        </h3>
        <input name='pepper' value='0.00'>
    </div>
        <span>PASS : </span><input name='g1pub' size=6 value=''></br></br>

        <input type='submit' value='[(♥‿‿♥)]'>

</form>

<br>
   <span><a href="https://github.com/papiche/Astroport.ONE">Astroport.ONE</a>
   <br> - Crypto Commons Playground -</span>
    <h2>

        <form method='get' action='http://g1billet.localhost:33101' target='aframe'>
            <input type='hidden' name='montant' value='0' >
            <label for='type'>Type :</label>
            <select name='type'>
                <option value=''>G1BILLET+ ( x 6 )</option>
                <option value='jeu'>G1CARD</option>
                <option value='xastro' selected>G1CARD+TW</option>
                <option value='@astroport'>G1CARD+@</option>
            </select>
            <input type='hidden' name='dice' value='4' >&nbsp;&nbsp;&nbsp;&nbsp;
            <button type='submit'>get more wallets...</button>
        </form>

   </h2>
<br>
<h1><span id='countdown'>G1Visa registration</span></h1>
</main>
</body>
<script>
  // Extract latitude and longitude from URL parameters
document.addEventListener('DOMContentLoaded', function() {
  const urlParams = new URLSearchParams(window.location.search);
  const salt = urlParams.get('salt');
  const pepper = urlParams.get('pepper');
  const uplanet = urlParams.get('uplanet');

  // Set latitude and longitude values to hidden inputs
  const latElement = document.querySelector('input[name="salt"]');
  const lonElement = document.querySelector('input[name="pepper"]');
  const uplanetElement = document.querySelector('input[name="uplanet"]');
  const passElement = document.querySelector('input[name="g1pub"]');

 // Generate a random 6-digit number and set it as the default value for "PASS"
  //~ if (passElement) {
    //~ const randomPass = Math.floor(100000 + Math.random() * 900000); // Generates a random 6-digit number
    //~ passElement.value = randomPass.toString();
  //~ }

  if (latElement && lonElement) {
    latElement.value = salt || '0.00'; // Default to '0.00' if lat is missing
    lonElement.value = pepper || '0.00'; // Default to '0.00' if lon is missing
    uplanetElement.value = '@'; // Default to '0.00' if lon is missing
  }

  const newURL = `https://ipfs.copylaradio.com/ipfs/QmQdB6ChBs7N1StVo3ikytMRBW4zCHL4pxEFP9Tq8kfjAV/map_render.html?southWestLat=${latElement.value}&southWestLon=${lonElement.value}&deg=0.1`;
  document.getElementById("myLink").href = newURL;

});

</script>

<script>
const el = document.getElementById('yellow');
//~ const log = document.getElementById('login');
//~ log.style.visibility = 'visible';

setTimeout(() => {
    el.style.visibility = 'visible';
}, 5456); // 👈️ delay in milliseconds

var arrTimes = [];
var i = 0; // start
var timesToTest = 3;
var tThreshold = 300; //ms
var testImage = "https://ipfs.copylaradio.com/ipfs/QmUUyiuCM4yXgaeGyqC2SVUUXZksuxhDfHQYpUpZPuL2oS/astroport.jpg"; // small image in your server
var dummyImage = new Image();
var isConnectedFast = false;

testLatency(function(avg){
  isConnectedFast = (avg <= tThreshold);
  /** output */
  document.body.appendChild(
    document.createTextNode("https://github.com/papiche/Astroport.ONE - Swarm delay: " + (avg.toFixed(2)) + "ms - ♥Box ready ? " + isConnectedFast)
  );
});

/** test and average time took to download image from server, called recursively timesToTest times */
function testLatency(cb) {
  var tStart = new Date().getTime();
  if (i<timesToTest-1) {
    dummyImage.src = testImage + '?t=' + tStart;
    dummyImage.onload = function() {
      var tEnd = new Date().getTime();
      var tTimeTook = tEnd-tStart;
      arrTimes[i] = tTimeTook;
      testLatency(cb);
      i++;
    };
  } else {
    /** calculate average of array items then callback */
    var sum = arrTimes.reduce(function(a, b) { return a + b; });
    var avg = sum / arrTimes.length;
    cb(avg);
  }
}

</script>
<script>

    let cookies = document.cookie;
    console.log(cookies);

    document.getElementById("countdown").innerHTML = "";

    var timeLeft = 42;
    var elem = document.getElementById("countdown");
    var timerId = setInterval(countdown, 999);

    function countdown() {
        if (timeLeft == -1) {
            clearTimeout(timerId);
            elem.innerHTML = "Get response by clicking the yellow face..."
        } else {
            elem.innerHTML = timeLeft + " s";
            timeLeft--;
        }
    }
    // promptUser();
</script>


</html>
