<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>[Astroport] Ouvrez votre TW :: Station _HOSTNAME_ (_IPFSNODEID_) </title>
    <link rel="icon" type="image/png" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/logo.png" />
   <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />

</head>
<body>
<header>
    <h6>
        <a href="http://127.0.0.1:1234/"> <span>"Astroport /ipfs/"</span></a> (TW)
    </h6>
</header>

<main>

<center>
<b>--- Welkom - Mirë se vini -  Willkommen - Welkomma - Welcome - Marhaban - Bari galoust - Xos gelmissiniz - Welkum -  Ongi etorri- Swagata - Ansuf yiswen - ščyra zaprašajem - Kyo tzo pa eit - Ani kié - Dobro došli - Dagemer mat - Dobre doshŭl - Benvinguts - Ulihebisdi - Huān yíng - Karibu - Eoso eoseyo - Benvenuti - Bel bonjou - Bienvini - Dobrodošli - Velkommen - Bienvenido -  Bonvenon - Tere tulemast - Gabitê - Vælkomin -  Tervetuloa - Welkom - Wìllkòmme - Binvignut - Fàilte - Benvido - Croeso - Planvenguda - Mikouabô - Kalos irthate - -Eguahé porá - Baroukh habaim - ... ----</b><br>
DEVENEZ ASTROŊAUTE <br>
explorez <br>

<h2>Astroport Ŋ1 Swarm#0</h2>
<form id="formlink" action = "http://127.0.0.1:1234" method = "GET">
    <br>
     <b>Associez vos phrases clefs à une adresse email</b></br></br>
        Phrase Une ("identifiant") <input name=salt value=''></br>
        Phrase Deux ("mot de passe") <input name=pepper value=''></br></br>
        Accepter la déléguation de votre clef (Ŋ1 20h12 bitswap) : <input type="checkbox" id="g1pub" name="g1pub"></br></br>
        Email : <input name=email value=''></br></br>
        <input type='submit' value='CREER VOTRE TW'>
</form>

            <p>
            <b>Besoin d'aide ? Contactez support@qo-op.com</b>
            </p>
</center>

<article>
    <div class="row justify-center">
            <h1 class="video-title">
                <a href="https://git.p2p.legal/qo-op/Astroport.ONE" target="code">'Astroport' opère une digitalisation 100% blockchain</a>.<br>
                <a target="code" href="http://opencollective.com/monnaie-libre/projects/bunker-box">Copiez, conservez, partagez, diffusez vos chaines multimédia et json dans IPFS, entre amis!<br>
                Prenez possession de votre TW. Rendez in-censurable, in-arrêtable la liberté d'expression.</a>
        </h1>
    </div>
</article>
<article>
    <div class="row justify-center">
    </div>
</article>
<article>
    <div class="row justify-center">
            <p><h3> >>> Reformons INTERNET - Installez IPFS - Activez <a href="https://git.p2p.legal/qo-op/Astroport.ONE" target="code"><b>Astroport.ONE</b></a> <<< </h3>
             <ul>
                 <li>Installez 'go-ipfs' <a href="https://docs.ipfs.tech/install/command-line/#official-distributions" target="code">KUBO</a> sur votre système</li>
                 <li>Ajoutez <a href="https://docs.ipfs.tech/install/ipfs-companion/" target="code"><b>ipfs-companion</b></a> à votre navigateur</li>

            </ul>
        </p>
    </div>
</article>


<center>
    <h6>
        <a href="http://madeinzion.org"> Made In Zion _\/_ </a> powered by <a href="http://astroport.com"><span>"</span>Astroport<span>"</span></a>
    </h6>
</center>
</main>
</body>


<script>
var arrTimes = [];
var i = 0; // start
var timesToTest = 3;
var tThreshold = 300; //ms
var testImage = "http://libra.copylaradio.com:8080/ipfs/QmUUyiuCM4yXgaeGyqC2SVUUXZksuxhDfHQYpUpZPuL2oS/astroport.jpg"; // small image in your server
var dummyImage = new Image();
var isConnectedFast = false;

testLatency(function(avg){
  isConnectedFast = (avg <= tThreshold);
  /** output */
  document.body.appendChild(
    document.createTextNode("Time: " + (avg.toFixed(2)) + "ms - Bunker BOX ready ? " + isConnectedFast)
  );
});

/** test and average time took to download image from server, called recursively timesToTest times */
function testLatency(cb) {
  var tStart = new Date().getTime();
  if (i<timesToTest-1) {
    dummyImage.src = testImage + '?t=' + tStart;
    dummyImage.onload = function() {
      var tEnd = new Date().getTime();
      var tTimeTook = tEnd-tStart;
      arrTimes[i] = tTimeTook;
      testLatency(cb);
      i++;
    };
  } else {
    /** calculate average of array items then callback */
    var sum = arrTimes.reduce(function(a, b) { return a + b; });
    var avg = sum / arrTimes.length;
    cb(avg);
  }
}

</script>

</html>
