<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>[Astroport] :: Station _HOSTNAME_ :: _IPFSNODEID_ </title>
    <link rel="icon" type="image/png" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/logo.png" />
   <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />
    <style>

body {
    background-image:url("http://127.0.0.1:8080/ipfs/QmSFgatcq3q898J56epa8SyGbH651vRBFnv93kQSwfoi83/background.000.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}
    input[type=submit] {
    width: 12em;  height: 4em;
    }
    input[type=checkbox] {
    width: 2em;  height: 2em;
    }
    input {
    width: 20em;  height: 2em;
    }
#yellow {
      background: yellow;
      position: absolute;
      top: 40%;
      left: 60%;
      visibility: hidden;
    }
    </style>

</head>
<body>
<header>
    <h6>
        <a href="http://127.0.0.1:1234/"> <span>"/ipfs/</span>TW<span>"</span></a>
    </h6>
</header>

<main>

<center>
<b>--- Welkom - Mirë se vini -  Willkommen - Welkomma - Welcome - Marhaban - Bari galoust - Xos gelmissiniz - Welkum -  Ongi etorri- Swagata - Ansuf yiswen - ščyra zaprašajem - Kyo tzo pa eit - Ani kié - Dobro došli - Dagemer mat - Dobre doshŭl - Benvinguts - Ulihebisdi - Huān yíng - Karibu - Eoso eoseyo - Benvenuti - Bel bonjou - Bienvini - Dobrodošli - Velkommen - Bienvenido -  Bonvenon - Tere tulemast - Gabitê - Vælkomin -  Tervetuloa - Welkom - Wìllkòmme - Binvignut - Fàilte - Benvido - Croeso - Planvenguda - Mikouabô - Kalos irthate - -Eguahé porá - Baroukh habaim - ... ----</b><br>
<h1>Astroport</h1>

<form id="formlink" action = "http://127.0.0.1:1234" method = "GET" enctype="application/x-www-form-urlencoded">
    <br>
     <b>Activez votre BunkedBOX</b></br></br>
        <input type='hidden' name=salt value='0'></br>
        <input type='hidden' name=pepper value='0'></br></br>
        <h1>ENREGISTREZ VOS VIDEOS FAVORITES DANS IPFS</h1><input type="hidden" name=g1pub value='https://www.youtube.com/playlist?list=LL'></br>
        Email : <input name=email value=''></br></br>
        <input type='submit' value='(☼‿‿☼)'>
</form>
<div id="yellow">
<h3><a href="http://127.0.0.1:12345"> >>> (◕‿‿◕) <<< </a></h3>
</div>
</h2>
            <p>
            <b>Besoin d'aide ? Contactez support@qo-op.com</b>
            </p>
</center>

<article>
    <div class="row justify-center">
            <h1 class="video-title">
                <a href="https://git.p2p.legal/qo-op/Astroport.ONE" target="code">CODE : Astroport.ONE - BunkedBOX edition -</a><br>
                <a target="code" href="http://opencollective.com/monnaie-libre/projects/bunker-box">Recopiez les vidéos que vous aimez dans les capsules multimédia de votre TW!
                <br>Une fois votre G1Visa obtenu, direction <a target="gchange" href="https://gchange.fr">https://gchange.fr</a> !</a>
        </h1>
    </div>
</article>
<article>
    <div class="row justify-center">
    </div>
</article>
<article>
    <div class="row justify-center">
            <p><h3>Devenez INTERNET - Installez IPFS - Activez >>> <a href="https://git.p2p.legal/qo-op/Astroport.ONE" target="code"><b>Astroport.ONE</b></a> <<< </h3>
             <ul>
                 <li>Installez 'go-ipfs' <a href="https://docs.ipfs.tech/install/command-line/#official-distributions" target="code">KUBO</a> sur votre système</li>
                 <li>Ajoutez <a href="https://docs.ipfs.tech/install/ipfs-companion/" target="code"><b>ipfs-companion</b></a> à votre navigateur</li>

            </ul>
        </p>
    </div>
</article>

BECOME ASTROŊAUTE
explore
Astroport Ŋ1 Swarm#0

Associate your key phrases with an email address

Phrase One ("login")
Phrase Two ("password")

Accept delegation of your key (Ŋ1 20h12 bitswap) :

Email :

Need help? Contact support@qo-op.com
Astroport' operates a 100% blockchain digitalization.
Copy, store, share, broadcast your multimedia and json channels in IPFS, between friends!
Take possession of your TW. Make freedom of expression uncensurable, unstoppable.

>>> Let's reboot the INTERNET - Install IPFS - Activate Astroport.ONE <<<

    Install 'go-ipfs' KUBO on your system
    Add ipfs-companion to your browser


<center>
    <h6>
        <a href="http://madeinzion.org">Made In Zion funded project _\/_ </a> powered by <a href="http://astroport.com"><span>"</span>Astroport<span>"</span></a>
    </h6>
</center>
</main>
</body>


<script>
const el = document.getElementById('yellow');

setTimeout(() => {
  el.style.visibility = 'visible';
}, 23456); // 👈️ delay in milliseconds

var arrTimes = [];
var i = 0; // start
var timesToTest = 3;
var tThreshold = 300; //ms
var testImage = "https://ipfs.copylaradio.com/ipfs/QmUUyiuCM4yXgaeGyqC2SVUUXZksuxhDfHQYpUpZPuL2oS/astroport.jpg"; // small image in your server
var dummyImage = new Image();
var isConnectedFast = false;

testLatency(function(avg){
  isConnectedFast = (avg <= tThreshold);
  /** output */
  document.body.appendChild(
    document.createTextNode("Time: " + (avg.toFixed(2)) + "ms - Bunker BOX ready ? " + isConnectedFast)
  );
});

/** test and average time took to download image from server, called recursively timesToTest times */
function testLatency(cb) {
  var tStart = new Date().getTime();
  if (i<timesToTest-1) {
    dummyImage.src = testImage + '?t=' + tStart;
    dummyImage.onload = function() {
      var tEnd = new Date().getTime();
      var tTimeTook = tEnd-tStart;
      arrTimes[i] = tTimeTook;
      testLatency(cb);
      i++;
    };
  } else {
    /** calculate average of array items then callback */
    var sum = arrTimes.reduce(function(a, b) { return a + b; });
    var avg = sum / arrTimes.length;
    cb(avg);
  }
}

</script>

</html>
