<!DOCTYPE html>
<html>
<head>
    <title>_PLAYER_ VLOG on UPlanet</title>
    <link rel="stylesheet" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/logo.png" />
</head>
<body>

<header>
    <h6>
        <a href="http://qo-op.com">UPlanet "<span>_PLAYER_</span>"</a> 
    </h6>
</header>

<main>

    <article>
        <video controls preload='none' poster="/ipfs/_ANIMH_">
            <source src="/ipfs/_IPFSID_/output.mp4" type="video/mp4">
            <a href="/ipfs/_IPFSID_/output.mp4">Video</a>
        </video>

        <h1 class="video-title">
            _DATE_
        </h1>
    </article>
    <article>
        <a href="/ipfs/_OLDID_">Prev.</a>
        <h1 class="video-title">
            PREV VIDEO
        </h1>
    </article>

    </main>

</body>
</html>
