<!DOCTYPE html>
<html>
<head>
    <title>_PSEUDO_ MyVid - Astroport One</title>
    <link rel="stylesheet" href="/ipfs/QmSo1zVcT28GUNByvxuu5osevJQXEbZQ1sDXY8h51azikA/decoration.css" type="text/css" />
    <link rel="stylesheet" href="/ipfs/QmStGmBc4mxnE4brnMcFdRCzXikxHRKnQ1aUgLetAwgen5/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="/ipfs/QmSvZaf7foMjH4BDxTvW13JY5iVNGEbjEymqL92a9W86GQ/logo.png" />
</head>
<body>

<header>
    <h6>
        <a href="https://qo-op.com">Astroport "<span>ONE</span>"</a> _PSEUDO_
    </h6>
</header>

<main>

    <article>
        <video autoplay="autoplay" controls>
            <source src="/ipfs/_IPFSID_/output.mp4" type="video/mp4">
            <a href="/ipfs/_IPFSID_/output.mp4">MyVid</a>
        </video>

        <h1 class="video-title">
            MyVid _DATE_
        </h1>
    </article>
    <article>
        <a href="/ipfs/_OLDID_">Previous MyVid index</a>
        <h1 class="video-title">
            Previous MyVid
        </h1>
    </article>

    </main>

</body>
</html>
