<!DOCTYPE html>
<html>
<head>
    <title>_PSEUDO_ VIDEO BUNKER - Astroport powered</title>
    <link rel="stylesheet" href="_IPFSROOT_/styles/decoration.css" type="text/css" />
    <link rel="stylesheet" href="_IPFSROOT_/styles/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="_IPFSROOT_/styles/logo.png" />
</head>
<body>

<header>
    <h6>
        <a href="https://qo-op.com">Bunker "<span>BOX</span>"</a> _PSEUDO_
    </h6>
</header>

<main>

    <article>
        <video autoplay="autoplay" controls>
            <source src="_IPFSID_/output.mp4" type="video/mp4">
            <a href="_IPFSID_/output.mp4">Ma Video</a>
        </video>

        <h1 class="video-title">
            Enregistrement du _DATE_
        </h1>
    </article>
    </main>

</body>
</html>
