<!DOCTYPE html>
<html>
<head>
    <title>_PLAYER_ VIDEO BLOG - Astroport One</title>
    <link rel="stylesheet" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/logo.png" />
</head>
<body>

<header>
    <h6>
        <a href="http://qo-op.com:1234">Astroport "<span>ONE</span>"</a> _PLAYER_
    </h6>
</header>

<main>

    <article>
        <video autoplay="autoplay" controls>
            <source src="/ipfs/_IPFSID_/output.mp4" type="video/mp4">
            <a href="/ipfs/_IPFSID_/output.mp4">Ma Video</a>
        </video>

        <h1 class="video-title">
            Enregistrement du _DATE_
        </h1>
    </article>
    <article>
        <a href="/ipfs/_OLDID_">Video precedente</a>
        <h1 class="video-title">
            Ancienne video
        </h1>
    </article>

    </main>

</body>
</html>
