<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>_PSEUDO_ [IPFS Bunker BOX]</title>
    <link rel="stylesheet" href="_IPFSROOT_/styles/video-js.css" type="text/css" />
    <link rel="stylesheet" href="_IPFSROOT_/styles/forest.css" type="text/css" />
    <link rel="stylesheet" href="_IPFSROOT_/styles/decoration.css" type="text/css" />
    <link rel="stylesheet" href="_IPFSROOT_/styles/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="_IPFSROOT_/styles/logo.png" />
</head>
<body>
<header>
    <h6>
        <a href="https://astroport.com"> "<span>Bunker BOX</span>"</a> powered by <span>"</span>Astroport<span>"</span>
    </h6>
</header>

<main>
<article>
<video
    id="_HLS_"
    class="video-js vjs-theme-forest"
    controls
    preload="auto"
    width="640"
    height="360"
    poster="_IPFSROOT_/styles/logo.png"
    data-setup="{}"
  >
    <source src="_IPFSROOT_/_HLS_" type="application/x-mpegURL" />
    <p class="vjs-no-js">
      Activer JavaScript SVP
    </p>
</video>
        <h1 class="video-title">
            _PSEUDO_ (_DATE_)
        </h1>
</article>
</main>
</body>

<!-- Put these JS files together with this HTML file -->
<script src="_IPFSROOT_/js/video.min.js"></script>
<script src="_IPFSROOT_/js/videojs-contrib-hls.min.js"></script>

<script>
var player = videojs('_HLS_');
player.play();
</script>

</html>
