<!DOCTYPE html>
<!-- TODO: Update the language if you're not writing in English! Hey, maybe remix this project and translate the instructions for other people? -->
<html lang="en">
<!-- TODO: Add a title for your zine -->
<title>[TW5 and TiddlyWiki]</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- TODO: Update the icon image if you want to get fancy! -->
<link rel="icon" type="image/png" href="/ipfs/QmTSfxH1kG12JooZ3TG8eGkoYqjcbxy29ejqiVworuBFro" />
<link rel="stylesheet"
href="/ipfs/QmeegmN4shouhnzvnDYpbSEJtdRsyy39SpL9XqYVHgtN44/style.css" />

<!-- TODO: Add a description for your zine -->
<meta name="Description" content="[UPlanet ZERO no secret key UPlanet Visa]" />
<!-- TODO: Update the theme color to match if you change the styles -->
<meta name="theme-color" content="#741b47" />

<main class="zine">
  <header class="zine-page page-1">
    <h1>TiddlyWiki</h1>
    <p>Welcome, Traveler, to the innovative world of TW5—a TiddlyWiki postit-based personal data store designed to empower you on your journey through UPlanet.</p>
        <!-- TODO: Your front cover content goes here, so you probably want a good title and maybe some kind of image -->
            <img class="full-img" src="/ipfs/QmaDPopWqTZMPQYwv3Tt7kJAttWjg9JS2btE3EGmP91Hnj">
    <h2>🌐 online and 🌴 offline<br>
    <button class="print-button">📃 ️Print</button> ✂️ cut 🙏 fold 📘 share 💜</h2>
  </header>
  <section class="zine-page page-2">
    <!-- TODO: Page 2 content goes here. This is also the inside of the front cover, so you can be minimal or fit in as much content as possible! -->
    <p>Your personalized TW5 dashboard awaits, ready to serve as your digital hub for storing and managing your data freely and securely.</p>
    <hr>
    <p>Organize Your Data with Tiddlers: Within TW5, information is stored in bite-sized units called Tiddlers. Each Tiddler represents a specific piece of data—whether it's a note, a document, an ipfs cid.</p>
    <hr>
    <h2>Use Tiddlers to share your thoughts, ideas, and information in a way that makes sense to you.</h2>
  </section>
  <section class="zine-page page-3">
    <!-- TODO: Page 3 content here -->
    <p>Customize Your Workspace: Tailor your TW5 experience to suit your unique needs. Customize your workspace with themes, plugins, and extensions to enhance functionality and streamline your workflow. Whether you're a minimalist or a power user, TW5 adapts to your preferences.</p>
    <hr>
    <p>Embrace Continuous Improvement: TW5 is constantly evolving to meet the needs of its users. Participate in the development process by providing feedback, suggesting improvements, and contributing to the open-source community. Together, we can shape the future of TW5 and make it even more powerful and intuitive.</p>
  </section>
  <section class="zine-page page-4">
    <!-- TODO: Page 4 - that's the halfway point, you're nearly there! -->
    <p>Collaborate and Share: TW5 isn't just a personal data store—it's a collaborative platform where ideas are born and shared. Collaborate with fellow travelers by sharing Tiddlers, collaborating on projects, and contributing to communal knowledge bases. With TW5, the possibilities for collaboration are endless.</p>
  </section>


  <section class="zine-page page-5">
    <!-- TODO: You guessed it, page 5 content now -->
    <p>With TW5 as your personal data store, the possibilities are limitless. Organize your thoughts, collaborate with others, and unlock the full potential of your data on UPlanet. Welcome to a new era of digital empowerment—welcome to TW5.</p>
    <hr>
    <p>Happy exploring!</p>

  </section>
  <section class="zine-page page-6">
    <!-- TODO: Page 6, this is the last "page" but you can still keep going -->
    <table class="zine-instructions">
      <tr>
        <td><b>Step 1:</b> Print, cut, fold MULTIPASS.  Crease all the lines then fold in half. Cut across the fold halfway through the page. Unfold and there should be a little hole. Fold lengthways. Gently fold the centre until you form a + shape. Now - magic! Fold all the pages around. Page 1 is the front cover, page 8 is the back.</td>
        <td><img class="mini-img" src="/ipfs/QmRQeE5XsYXAd32inVsWRFWqDCiMqkbU3txxdQwDqBRRLn">
        </td>
      </tr>
      <tr>
        <td><b>Step 2:</b> Open TW5. Delete AstroID.</td>
        <td><img class="mini-img" src="/ipfs/QmcqciKy23cETr7G8mkLPjnLWuRQbBtsj6RcKd9WiU849x">
        </td>
      </tr>
      <tr>
        <td><b>Step 3:</b> Add tiddlers. Take control. </td>
        <td><img class="mini-img" src="/ipfs/QmRTMzb3WYNgaNtqFoeQZMX7MFqpa6teDaNnqWA96gTEAi">
        </td>
      </tr>
    </table>

  </section>
  <section class="zine-page page-7">
    <!-- TODO: Page 7, this is the inside of the back cover -->
    <table class="zine-instructions">
      <tr>
        <td><b>Step 4:</b> Customize your email Tiddler: Each traveler have a Tiddler within their TW5 titled with their email address. This serves as a unique signature—a digital calling card that identifies them across the cosmos.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-05.png">
        </td>
      </tr>
      <tr>
        <td><b>Step 5:</b> Copy and Connect: To connect with others, copy their email title Tiddler into your own TW5, signaling your interest in sharing information and establishing connections.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-07.png">
        </td>
      </tr>
     </table>
  </section>
  <footer class="zine-page page-8">
    <!-- TODO: You made it! Page 8, the back cover. Feel free to use this for attributions. Hey, let me know if you want a review. I'll give you ★★★★★ and an amazing quote -->
<table class="zine-instructions">
      <tr>
        <td><b>Step 6:</b> Explore Shared Tiddlers: Access Tiddlers shared by connected travelers, exploring a wealth of knowledge, notes, and collaborations.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-06.png">
        </td>
      </tr>
      <tr>
        <td><b>Step 7:</b> Collaborate and Grow: Utilize shared Tiddlers to collaborate on projects, exchange ideas, and foster connections with fellow travelers, enriching the collective knowledge of the UPlanet community.</td>
        <td><img class="mini-img" src="https://cdn.glitch.com/c10b2617-5888-415b-b574-42e2ab8f3484%2Fzine-fold-07.png">
        </td>
      </tr>
     </table>
  </footer>
</main>

<script src="/ipfs/QmeegmN4shouhnzvnDYpbSEJtdRsyy39SpL9XqYVHgtN44/script.js" async defer></script>
<!-- I know it says you need a closing </html> tag, but you actually don't! Feel free to add one though if it seems cleaner -->
