<html>
    <head>
        <meta name="viewport" content="width=device-width; height=device-height;">
        <link rel="stylesheet" href="resource://content-accessible/ImageDocument.css">
        <link rel="stylesheet" href="resource://content-accessible/TopLevelImageDocument.css">
        <link rel="stylesheet" href="chrome://global/skin/media/TopLevelImageDocument.css">
        <title>ANIMATION METEO _DATE_</title>
    </head>
    <body>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <title> ENREGISTREMENT METEO - Astroport One</title>
    <link rel="stylesheet" href="./styles/decoration.css" type="text/css" />
    <link rel="stylesheet" href="./styles/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="./styles/logo.png" />
</head>
<body>

<header>
    <h6>
        <a href="https://qo-op.com">Astroport "<span>ONE</span>"</a>
    </h6>
</header>

<main>

    <article>
        <img src="/ipfs/_IPFSID_/meteo.anim.eu/meteo.png" alt="ANIMATION METEO" class="shrinkToFit" width="397" height="289">


        <h1 class="video-title">
            Enregistrement du _DATE_
        </h1>
    </article>
    <article>
        <a href="/ipfs/_OLDID_">Video precedente</a>
        <h1 class="video-title">
            Ancienne video
        </h1>
    </article>

    </main>

</body>
</html>
