<!DOCTYPE html>
<html>
<head>
    <title>_TITLE_ in Astroport</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/decoration.css" type="text/css" />
    <link rel="stylesheet" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="/ipfs/QmaCh8mywWfxkXF3JziFzqZS6yZFo3eNS5fSfnzJqdSQvX/logo.png" />
</head>
<body>
<header>
    <h6>
        <a href='/ipns/_IPFSNODEID_/._IPFSNODEID_/'><span>ASTROPORT</span> <q>_PLAYER_</q></a>
    </h6>
</header>

<main>
    <article>
        <video autoplay="autoplay" controls>
            <source src="/ipfs/_IPFSREPFILEID_/_URLENCODE_FILE_NAME_">
            <a href="/ipfs/_IPFSREPFILEID_/_URLENCODE_FILE_NAME_">_TITLE_</a>
        </video>

        <h1 class="video-title">
            _TITLE_
        </h1>
    </article>
</main>

</body>
</html>
